<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<!-- 회원가입 -->
	<insert id="insert">
		INSERT INTO signup( member_no,
							member_id,
							password,
							name,
							gender,
							birth,
							mail,
							phone,
							address,
							regdate,
							secession,
							profilepic
						  )
				   VALUES ( #{member_no},
				   			#{member_id},
				   			#{password},
				   			#{name},
				   			#{gender},
				   			#{birth},
				   			#{mail},
				   			#{phone},
				   			#{address},
				   			sysdate(),
				   			'1',
				   			#{profilepic}
				   		  )
	</insert>
	<!-- 회원정보수정 -->
	<update id="update">
		UPDATE signup SET password = #{password},
						  name     = #{name},
						  gender   = #{gender},
						  birth    = #{birth},
						  mail     = #{mail},
						  phone    = #{phone},
						  address   = #{address}
		WHERE member_id = #{member_id}
	</update>
	<!-- 회원탈퇴 -->
	<update id="delete">
		UPDATE signup SET secession = 3
		WHERE member_id = #{member_id}
	</update>
	<!-- 로그인 -->
	<select id="login" resultType="com.myproject.board.vo.MemberVO">
		SELECT *
		  FROM signup 
		 WHERE member_id = #{member_id} 
		   AND password = #{password}
	</select>
	
	<!-- 회원정보조회 -->
	<select id="memberinfo" resultType="com.myproject.board.vo.MemberVO">
		SELECT 				
				member_id,
				name,
				gender,
				birth,
				mail,
				phone,
				address
		  FROM signup 
		 WHERE member_id = #{member_id}
	</select>
	
	<!-- 멤버조회 -->
	<select id="isMember" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM signup 
		 WHERE member_id = #{member_id} 
		   AND password = #{password}
		   AND secession = '1'
	</select>
</mapper>